// showing default values
$accentColor = #6a8bad 
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

/* Regular */
@font-face 
  font-family 'Open Sans'
  src url('/fonts/OpenSans-Regular-webfont.eot') 
  font-weight normal
  font-weight 400
  font-style normal

/* Italic */
@font-face 
  font-family 'Open Sans'
    src url('/fonts/OpenSans-Italic-webfont.eot')
    font-weight normal
    font-weight 400
    font-style italic

/* Light */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-Light-webfont.eot')
  font-weight 200
  font-style normal

/* Light Italic */
@font-face 
  font-family 'Open Sans'
  src url('/fonts/OpenSans-LightItalic-webfont.eot')
  font-weight 200
  font-style italic


/* Semibold */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-Semibold-webfont.eot')
  font-weight 500
  font-style normal

/* Semibold Italic */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-SemiboldItalic-webfont.eot')
  font-weight 500
  font-style italic

/* Bold */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-Bold-webfont.eot')
  font-weight bold
  font-weight 700
  font-style normal

/* Bold Italic */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-BoldItalic-webfont.eot')
  font-weight bold
  font-weight 700
  font-style italic

/* Extra Bold */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-ExtraBold-webfont.eot')
  font-weight 900
  font-style normal

/* Extra Bold Italic */
@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-ExtraBoldItalic-webfont.eot')
  font-weight 900
  font-style italic

html,body,div,button
  font-family 'Open Sans'

.content blockquote
  font-size 1rem

.home .hero .action-button
  background-color whitesmoke
  color black
  border-bottom 0px 


/*
.home .hero h1
  text-align center
  position absolute
  top 15%
  left 50%
  transform translate(-50%, -50%)
  color white

.home .hero .description
  text-align center
  position absolute
  top 43%
  left 50%
  transform translate(-50%, -50%)
  color white
*/


/*
.home .hero .action-button
  background-color: blue

.action
  background-color: red
*/