<template>
  <p>
    > Disclaimer 1: I'm 🇫🇷, so sometimes my 🇬🇧 could be strange, so be nice and don't hesitate to propose a MR on https://gitlab.com/k33g/k33g.gitlab.io 😉

    > Disclaimer 2: I'm more a developer than an admin sys, so be nice too and help me grow: propose a kindly MR 😍
  </p>
</template>